.education-page {
    background-color: #cce0d73c;
    margin: 11% 5%;
    padding-top: 90px;
    padding-bottom: 10%;
}

.edu-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.edu-header {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to left, #022013, #047745, #0a8952, #4baa80, #38c588, #0a8952, #047745, #022013);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

.edu-left {
    margin: 5%;
    
}

.edu-middle {
    margin: 5%;
    padding-bottom: 5%;
}

.edu-right {
    margin: 5%;
}

.edu-p1 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 5%;
}

.scl-img {
    width: 80%;
    height: auto;
    margin: 5% 10%;
}

.edu-p2 {
    font-size: 1.1vw;
    padding: 0% 5%;
    text-align: justify;
}

.more-button {
    background-color: #8ce7bf;
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
    padding: 2% 5%;
    font-weight: bold;
    font-size: 1.1vw;
    white-space: nowrap;
    border-radius: 15px;
    border: none;
}

.more-icon {
    width: 15%;
    height: auto;
    margin-left: 5%;
}

@media (max-width:1000px) {
    .edu-page {
        grid-template-columns: 1fr;
    }

    .edu-header {
        font-size: 10vw;
    }

    .edu-p1 {
        font-size: 5vw;
    }

    .edu-p2 {
        font-size: 3vw;
    }
    

    .more-button {
        font-size: 3vw;
    }
}

@media (min-width:1000px) {
    .education-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}