.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;
    z-index: 2;
}

.left-section {
    display: flex;
    align-items: center;
    width: 45%;
    margin-left: 20px;
}

.logo {
    height: 70px;
    width: auto;
}

.p-logo {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;

}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.home,
.about,
.education,
.achievements,
.skills,
.projects,
.contact {
    background-image: linear-gradient(to right, white, #c8fae4);
    font-size: 17px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;text-wrap: nowrap;
}

.home:hover,
.about:hover,
.education:hover,
.achivements:hover,
.skills:hover,
.projects:hover,
.contact:hover {
    background-image: linear-gradient(to right, white, #50d39b);
}

.home:active,
.about:active,
.education:active,
.achivements:active,
.skills:active,
.projects:active,
.contact:active {
    background-image: linear-gradient(to right, white, #267752);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hide-Sidebar {
    padding: 15px;
    width: 250px;
}

.hide-Sidebar:hover {
    background-color: rgba(232, 231, 231, 0.612);
}

.hide-Sidebar:active {
    background-color: rgba(206, 203, 203, 0.612);
}

.menu-button {
    display: none;
}

@media (max-width: 1100px){
    .home,
    .about,
    .education,
    .achievements,
    .skills,
    .projects,
    .contact {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .left-section {
        width: 80%;
    }

    .right-section {
        width: 20%;
    }
}