.sports-page {
    background-color: #cce0d73c;
    margin: 10% 5%;
    padding-top: 2%;
    padding-bottom: 2%;    
}

.sports-pg {
    display: grid;
    grid-template-columns: 40% 60%;
}

.sport-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

.sport-right {
    padding: 5%;
}

.sport-header {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    background-image: linear-gradient(to left, #022013, #047745, #0a8952, #4baa80, #38c588, #0a8952, #047745, #022013);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

.sport-right  h1{
    font-size: 3vw;
}

.sport-right li {
    font-size: 1.3vw;
}
.sport-img {
    width: 80%;
    
}

@media (max-width:750px) {
    .sports-pg {
        grid-template-columns: 1fr;
    }

    .sport-header {
        font-size: 10vw;
    }

    .sport-right li {
        font-size: 2.5vw;
    }

    .sport-right  h1{
        font-size: 5vw;
    }

}

@media (max-width:500px) {
    .sport-right li {
        font-size: 3.2vw;
    }

    .sport-right  h1{
        font-size: 7vw;
    }

}